<div class="container">
  <h1>Relatórios</h1>

  <h5>Vendas por Período</h5>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th>Ano</th>
        <th>Mês</th>
        <th>Valor Vendido (R$)</th>
      </tr>

      <tr *ngFor="let vendaPeriodo of vendasPorPeriodo">
        <td>{{vendaPeriodo.ano}}</td>
        <td>{{vendaPeriodo.mes}}</td>
        <td>{{vendaPeriodo.valorVendido}}</td>
      </tr>
    </tbody>
  </table>

  <h5>Vendas por Categoria</h5>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th>Categoria</th>
        <th>Valor Vendido (R$)</th>
      </tr>

      <tr *ngFor="let vendaCategoria of vendasPorCategoria">
        <td>{{vendaCategoria.categoria}}</td>
        <td>{{vendaCategoria.valorVendido}}</td>
      </tr>
    </tbody>
  </table>

  <h5>Vendas por Produto</h5>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th>Código do Produto</th>
        <th>Quantidade</th>
      </tr>

      <tr *ngFor="let vendaProduto of vendasPorProduto">
        <td>{{vendaProduto.codigoProduto}}</td>
        <td>{{vendaProduto.quantidade}}</td>
      </tr>
    </tbody>
  </table>
</div>
